.splitterLayout {
  height: 100vh;
}

.splitterLayout > div[class*="Splitter-splitter"] {
  width: 4px;
  min-width: 4px;
  background-color: #dedede;
}

.splitterLayout > div[class*="Splitter-splitter"] > ui5-icon {
  border: 1px solid black;
}
