.splitterLayout {
    height: 100vh;
}

.splitterLayout > div[class*="Splitter-splitter"] {
    width: 1px;
    min-width: 1px;
    background-color: #dedede;
}

/* .splitterLayout > div[class*="Splitter-splitter"] > div[class*="Splitter-lineBefore"] {
    display: none;
}

.splitterLayout > div[class*="Splitter-splitter"] > div[class*="Splitter-lineAfter"] {
    display: none;
}

.splitterLayout > div[class*="Splitter-splitter"]:hover {
    border-right: '1px solid #427cac',
}

.splitterLayout > div[class*="Splitter-splitter"]:active {
    border-right: '4px solid #427cac',
} */